<!DOCTYPE html>
<html>
  <head>
    <title>Úkolovník</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation </span><span class="icon-bar"> </span><span class="icon-bar"> </span><span class="icon-bar"></span></button><a href="/" class="navbar-brand">Úkolovník</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <% if (user) { %>
            <div class="dropdown pull-right">
              <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= user.name %>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dLabel">
                <li><a href="/">Plocha</a></li>
                <li><a href="/">Úkoly</a></li>
                <li><a href="/articles/add">Nový úkol</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/users/logout">Odhlásit se</a></li>
              </ul>
              <% } else { %>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/users/register">Registrace</a></li>
                    <li><a href="/users/login">Přihlášení </a></li>
                </ul>
            </div>
          <% } %>  
        </div>
      </div>
    </nav>
    <div class="container">
        <%- messages("message", locals) %>
        <% if (errors) { %>
            <% errors.forEach(function(error) { %>
                <% if (error) { %>
                    <div class="alert alert-danger"><%= error.msg %></div>
                <% } %>
            <% }); %>
        <% } %>
       